<div class="row">
    <div class='col-xs-3'>{{ GeoObj.name }}</div>
    <div class='col-xs-3'>{{ GeoObj.description }}</div>
    <div class='col-xs-3'>{{ GeoObj.geom_id }}</div>
    <div class='col-xs-3'>
        <span class="pull-right">
        <a href="{% url 'path:remove_spot' Path.id GeoObj.id %}" >
                <button type="button" class="btn btn-danger">
                    remove
                    <span class="glyphicon glyphicon-remove">
                </button>
            </a>     
    </span>
    </div>
</div>